//footer
.nfooter {
    height: 525px;
    padding-top: 40px;
    margin-top: 70px;
    background-color: #ffb81c;
    font-size: 16px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.nfooter .footer-links {
    >li {
        float: left;
    }
}

.nfooter .public-media {
    text-align: center;
}

.nfooter span,
.nfooter a {
    font-size: 14px;
}

.nfooter .service-information {
    width: 325px;
}

.nfooter .service-information .links-title,
.nfooter .our-app .links-title {
    margin-bottom: 26px;
}

.nfooter .links-title {
    font-size: 16px;
}

.nfooter .service-information .links-item {
    float: left;
    width: 140px;
}

.nfooter .links-item {
    height: 33px;
}

.nfooter .footer-logo {
    position: relative;
    width: 550px;
    height: 240px;
    background: url('http://mpic.secooimg.com/images/2018/11/07/footer-logo.png') no-repeat 100%;
}

.nfooter .footer-logo .weibo {
    left: 91px;
}

.nfooter .footer-logo .weibo,
.nfooter .footer-logo .wechat {
    position: absolute;
    top: 107px;
    height: 20px;
    cursor: pointer;
}

.nfooter .footer-logo .weibo .icon-weibo,
.nfooter .footer-logo .wechat .icon-wechat {
    float: left;
    font-size: 24px;
    margin-right: 5px;
    margin-top: -5px;
}

.nfooter .footer-logo .weibo span {
    float: left;
}

.nfooter .qr-code {
    position: absolute;
    left: -133px;
    top: -50px;
    width: 126px;
    height: 120px;
    display: none;
}

.nfooter .footer-logo .wechat {
    left: 394px;
}

.nfooter .qr-code img {
    width: 100%;
    height: 100%;
}

.nfooter .qr-code-p {
    position: relative;
}

.nfooter .our-app {
    margin-left: 207px;
}

//
.nfooter .footer-info {
    margin-top: 40px;
    font-size: 14px;
}

.nfooter .footer-info span {
    margin-right: 30px;
}

.nfooter .footer-info p {
    margin-bottom: 20px;
}

.nfooter .footer-info span:last-child {
    margin-right: 0;
}

.nfooter .footer-info .footer-info-imgs {
    overflow: hidden;
}

.nfooter .footer-info .footer-info-imgs a {
    float: left;
    width: 108px;
    height: 40px;
    margin-right: 30px;
}

.nfooter .footer-info .footer-info-imgs img {
    width: 100%;
    height: 100%;
}

.nfooter .last {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

.nfooter .last a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.nfooter .last img {
    float: left;
}

.nfooter .last p {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 5px;
    color: #939393;
}

.ncontainer {
    width: 1200px;
    margin: 0 auto;
}