@import 'public';
// $page_width:100%;
// $box_width:1200px;
// $box_height:200px;
// $font12:12px;
// $font14:14px;
// $font16:16px;
@import 'top';
@import 'banner';
@import 'footer';
//editor pick
.editor-pick.ncontainer {
    margin: 54px auto 42px;
}

.ncontainer {
    width: 1200px;
}

.editor-pick .title {
    width: 100%;
    height: 38px;
    margin-bottom: 40px;
    background: url('http://mpic.secooimg.com/images/2018/11/07/editor-pick.png') no-repeat center/266px 38px, url('http://mpic.secooimg.com/images/2018/11/07/title-line.png') no-repeat bottom;
}

.editor-pick-list {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.editor-pick-list .product-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 20000px;
    height: 100%;
}

.editor-pick-list li {
    float: left;
    width: 232px;
    height: 400px;
    margin-right: 10px;
    background-color: #f5f5f5;
    transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.editor-pick-list .product-img {
    position: relative;
    width: 100%;
    height: 232px;
}

.editor-pick-list .product-img .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

.editor-pick-list .product-details {
    padding: 34px 27px 0;
}

.editor-pick-list .product-details p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
}

.editor-pick-list .product-name {
    height: 28px;
    font-size: 18px;
}

.editor-pick-list .product-desc {
    height: 44px;
    font-size: 12px;
}

.editor-pick-list .line {
    width: 80px;
    height: 2px;
    margin-bottom: 18px;
    background-color: #000;
}

.editor-pick-list .product-price {
    font-size: 14px;
}

.editor-pick-list li:hover {
    border-bottom: 10px solid #ffb81c;
    transform: translateY(-10px);
}

.bottom-dir {
    position: relative;
    width: 100%;
    height: 57px;
    margin-top: 30px;
    background: url('http://mpic.secooimg.com/images/2018/11/07/editor-pick-logo.png') no-repeat center/128px 57px, url('http://mpic.secooimg.com/images/2018/11/07/bottom-line.png') no-repeat 100%/100%;
}

.bottom-dir .prev {
    margin-left: -64px;
}

.bottom-dir .prev,
.bottom-dir .next {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 100%;
}

.bottom-dir .prev .icon-prev,
.bottom-dir .next .icon-next {
    position: absolute;
    left: 18px;
    top: 14px;
    font-size: 30px;
    color: #000;
    font-weight: 900;
}

//fashion
.fashion-wardrobe.ncontainer {
    position: relative;
    height: 630px;
    margin-bottom: 30px;
}

.ncontainer {
    width: 1200px;
    margin: 0 auto;
}

.fashion-wardrobe .left-img {
    left: 0;
    z-index: 13;
}

.fashion-wardrobe img {
    display: inline;
}

.fashion-wardrobe .right-img {
    z-index: 15;
}

// app
.secoo-app.ncontainer {
    height: 300px;
    margin-bottom: 30px;
}

//plate-entry
.plate-entry.ncontainer {
    margin-bottom: 40px;
}

.plate-entry {
    li {
        position: relative;
        float: left;
        width: 380px;
        height: 600px;
        margin-right: 30px;
    }
    li:last-child {
        margin-right: 0;
    }
}

//world
.world-of-secoo {
    padding-top: 60px;
    background-color: #ffb81c;
}

.world-of-secoo .title {
    height: 109px;
    margin-bottom: 51px;
    text-align: center;
}

.world-of-secoo {
    li {
        position: relative;
        float: left;
        width: 380px;
        height: 504px;
        margin-right: 30px;
    }
    li:last-child {
        margin-right: 0;
    }
}

.fixed-qrcode {
    display: block;
    position: fixed;
    left: 74px;
    width: 120px;
    height: 164px;
    z-index: 99;
    top: 50%;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.fixed-qrcode img {
    display: block;
    width: 100%;
    height: 100%;
}